<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-dark text-white">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<div th:object="${order1}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>
				<form th:action="@{/form}" th:object="${order1}" method="post">

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">deliveryAddress</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{deliveryAddress}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('deliveryAddress')}"
								th:errors="*{deliveryAddress}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Customer ID</label>
						<div class="col-sm-6">
							<select th:type="text" name="customerId" value="">
								<option th:each="Customer : ${listCustomer}"
									th:value="${Customer.customerId}" th:text="${Customer.name}"></option>
							</select>
						</div>
					</div>
					<br>

					<h3 style="text-align: center">Ingrese los productos</h3>
					<br> <br>

					<div class="form-group row">

						<label class="col-sm-2 col-form-label">producto 1</label>
						<div class="col-sm-6">
							<select th:type="text" name="producto1">
								<option selected></option>
								<option th:each="product:${listProduct}"
									th:value="${product.productId}"
									th:text="${product.productDescription}"></option>
							</select>

							<div>
								<label class="col-sm-3 col-form-label">Cantidad</label> <input
									type="number" name="cantidad1" min="0" max="3">
							</div>
						</div>
					</div>
					<br>

					<div class="form-group row">

						<label class="col-sm-2 col-form-label">producto 2</label>
						<div class="col-sm-6">
							<select th:type="text" name="producto2">
								<option selected></option>
								<option th:each="product:${listProduct}"
									th:value="${product.productId}"
									th:text="${product.productDescription}"></option>
							</select>
							<div>
								<label class="col-sm-3 col-form-label">Cantidad</label> <input
									type="number" name="cantidad2" min="0" max="3">

							</div>
						</div>
					</div>
					<br>

					<div class="form-group row">

						<label class="col-sm-2 col-form-label">producto 3</label>
						<div class="col-sm-6">
							<select th:type="text" name="producto3">
								<option selected></option>
								<option th:each="product:${listProduct}"
									th:value="${product.productId}"
									th:text="${product.productDescription}"></option>
							</select>
							<div>
								<label class="col-sm-3 col-form-label">Cantidad</label> <input
									type="number" name="cantidad3" min="0" max="3">

							</div>
						</div>
					</div>
					<br>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">producto 4</label>
						<div class="col-sm-6">
							<select th:type="text" name="producto4">
								<option selected></option>
								<option th:each="product:${listProduct}"
									th:value="${product.productId}"
									th:text="${product.productDescription}"></option>
							</select>
							<div>
								<label class="col-sm-3 col-form-label">Cantidad</label> <input
									type="number" name="cantidad4" min="0" max="3">

							</div>
						</div>
					</div>
					<br>

					<div class="form-group row">

						<label class="col-sm-2 col-form-label">producto 5</label>
						<div class="col-sm-6">
							<select th:type="text" name="producto5">
								<option selected></option>
								<option th:each="product:${listProduct}"
									th:value="${product.productId}"
									th:text="${product.productDescription}"></option>
							</select>
							<div>
								<label class="col-sm-3 col-form-label">Cantidad</label> <input
									type="number" name="cantidad5" min="0" max="3">

							</div>
						</div>
					</div>
					<br>

					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" value="Crear Orden"
								class="btn btn-secondary" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>